/puntos-be/node_modules
/puntos-be/.env
/puntos-be/sendgrid.env
/puntos-be/slack.env
/puntos-be/firebase

/puntos-fe/node_modules
/puntos-fe/.pnp
/puntos-fe/.pnp.js

/puntos-fe/coverage

/puntos-fe/build

/puntos-fe/src/firebase

/puntos-fe/.DS_Store
/puntos-fe/.env.local
/puntos-fe/.env.development.local
/puntos-fe/.env.test.local
/puntos-fe/.env.production.local

/puntos-fe/npm-debug.log*
/puntos-fe/yarn-debug.log*
/puntos-fe/yarn-error.log*
